@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(51 65 85);
    font-family: "Edu AU VIC WA NT Pre";
    font-size: 1rem;
    color: rgb(191 219 254);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 2.2rem;
}

form{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.btn-submit{
    font-size: 1.5rem;
    background-color: rgb(163 230 53);
    padding: 0.9rem;
    border: none;
    border-radius: 3rem;
}

.btn-delete{
    font-size: 1rem;
    background-color: crimson;
    padding: 0.9rem;
    border: none;
    border-radius: 3rem;
}

input{
    border-radius: 1.5rem;
    padding: 1rem;
}

label{
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
}

.todo-list{
    list-style: none;   
}

.item-label{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


